// FLEX
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.grow {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.p-x-160 {
  padding-right: 160px;
  padding-left: 160px;
  @media (max-width: 800px) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.p-x-15 {
  padding-right: 15px;
  padding-left: 15px;
}

.p-y-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-x-30 {
  padding-right: 30px;
  padding-left: 30px;
}

.p-y-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate0 {
  transform: rotate(0);
}

.cursor-initial {
  cursor: initial;
}

.cursor-pointer {
  cursor: pointer;
}
.btn-cta {
  width: 150px;
  height: 50px;
  border: #ffff 3px solid;
  font-size: 18px;
  color: #ffff;
  font-weight: 600;
  border-radius: 25px;
  background-color: transparent;
}
